body {
  font-family: 'IBM Plex Mono', monospace;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.profile-picture {
  width: 200px;
  margin: 40px;
  border-radius: 50%;
  display: inline-block;
  float: left;
}

.row {
  margin-top: 20px;
}

.photo {
  height: 245px;
  margin: 2px;
}

footer {
  margin-top: 40px;	
}


